
.side{
    height: 500px;
    border-radius:20px;
    margin: 10px;
}

.main{
    height: 500px;
    border-radius:20px;
    margin: 10px;
}

body{
    background: rgb(44, 44, 44);
}


table{
    border: "1";
}
/* div{
    border: 1px dashed blue;
} */